/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */


/* Global */
@font-face {
font-family: 'Roboto';
src: url('../../public/fonts/Roboto/Roboto-Regular.ttf');
}

h2 {
  font-family: pokemon;
  margin-left: 40px;
  text-shadow: 1px 1px 2px rgb(204, 191, 133);
  color: rgb(6, 46, 179);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}


input , select {
  border-radius: 5px;
  padding: 6px 10px;
  width: 170px;
  border: 0.5px solid #5393E5;
  box-sizing: border-box;
  outline: 0;
}

input::placeholder {
  opacity: 0.5;
}

input[type="file"] {
    display: none;
}

input:hover {
  border: 0.5px solid #FFCB05;
}

input:focus {
  border: 1.5px solid #FFCB05;
}

span {
  display: inline;
  flex-wrap: wrap;
}

strong {
  padding-right: 5px;
  font-weight: 700;
}


label {
  font-weight: 900;
}

button {
  border-radius: 20px;
  padding: 6px 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

hr {
  width: 100%;
}


label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  margin-left: 4px;
  margin-bottom: 2px;
}


a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  color: black;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}

/* End Global */


/* Card */

#carta-botao {
  display: none;
  flex-direction: column;
  min-width: 400px;
  max-width: 400px;
}

#margem {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  border: 7px solid #FEE064;
  min-width: 400px;
  max-width: 400px;
  border-radius: 5px;
  background-color: #D75A95;
  box-shadow: inset 1px 1px 30px rgba(95, 95, 95, 0.39);

}

.container {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header > div > span {
  font-size: 2em;
  color: white;
}

.signo {
  position: absolute;
  top: 30px;
  right: 13px;
  width: 30px;
  height: 30px;
  border: 3px solid grey;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.signo > img {
  width: 100%;
  height: 100%;
}

.pokemon {
  padding-right: 15px;
  width: 40px;
  height: 45px;
  position: absolute;
  top: 210px;
  right: 45px;
}

.pokemon > img {
  width: 100px;
  height: 100px;
}

.img {
  padding: 0;
  margin: 0;
  border: 5px solid grey;
  background-color: white;
  height: 250px;
  width: 100%;
}

.img img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 45%;
}

.atributos-div {
  margin: 20px 0;
  width: 100%;
}

.atributos-items {
  display: flex;
  flex-direction: column;
}

.atributos {
  padding: 4px 10px;
  margin: 2px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: inset 0 0 10px 3px #69696963;
}

.atributos-2 {
  width: 93%;
  padding: 10px 10px;
  margin: 2px;
  background-color: #f0f0f040;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #76767652;
}

/* End Card */


/* Form */

#form-total {
  min-width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  min-width: 400px;
  max-width: 400px;
  border-radius: 5px;
  background-color: rgba(165, 205, 255, 0.3);
}

.form-item {
  margin: auto;
}

.form-button {
  background-color: white;
  color: #18467F;
}

.form-button-active {
  background-color: #18467F;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a{
  padding: 5px;
}

.social-icon {
  width: 25px;
  height: 25px;
}

#label-arquivo {
    margin: 0;
    background-color: #C2C2C2;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px;
    width: 170px;
    box-sizing: border-box;
  }
#label-arquivo:hover {
  background-color: #BB9400;
    
}

.botao {
  margin-top: 6px;
  margin-bottom: 3px;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.bg-blue {
  background-color: #18467F;
  color: white;
}

.bg-blue:hover {
  background-color: #08264C;
  color: white;
}

.bg-yellow {
  background-color: #FFCB05;
  color: black;
}

.bg-yellow:hover {
  background-color: #BB9400;
  color: black;
}

.title {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 18px;
}

.change-form-buttons {
  margin-bottom: 20px;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}


.confirmar {
  background-color: #18467F;
  color: white;
  border-radius: 15px;
  padding: 10px 50px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.center {
  justify-content: center;
}

.creditos {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.creditos p {
  margin: 5px;
  color: #5C5C5C;
}

hr.creditos {
  margin: 0;
}

.simples {
  display: none;
}

/* End Form */